docs/media/colors-light.png filter=lfs diff=lfs merge=lfs -text
docs/media/colors.png filter=lfs diff=lfs merge=lfs -text
docs/media/test-cases-page.png filter=lfs diff=lfs merge=lfs -text
docs/media/colors-dark.png filter=lfs diff=lfs merge=lfs -text
